.body{
	border: 0.5em black solid;
}

.hiddenDiv{
	display: none;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

#loginMainDiv{	
	background-image: url('../images/blueBack2.JPG');
	border-radius: 0.5em;
	margin: 0 auto;
	background-size: 100%;
	height: 20em;
	width: 30em;
	margin-top: 10%;
}

#loginText{
	text-align: center;
	color: white;
	font-size: 1.5em;
}

#loginTitleDiv{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	color: white;
}

#centerDiv{
	margin: 0 auto;
}
#rightDiv{
	float: right;
}
#leftDiv{
	float: left;
}

#header{
	width: 100%;
	height: auto;
	background-image: url('../images/blueBack2.JPG');
	background-size: 100%;	
}

#titleText{
	text-decoration: none;
	color: white;
	font-size: 3em;
	padding: 0.3em;
}

#logOutDiv{
	float: right;
	padding: 0.3em;
}


#ribons{
    text-align:center;
}
#ribons a{
    margin:0px 10px;
    display:inline-block;
    text-decoration:none;
    color:white;
}

#ribons a:hover{
	-webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

#ribonBar{
	padding: 1em;
}

#panelText{
	margin:0 auto;
	border: 0.2em solid black;
	border-radius: 0.5em;
	padding: 2em;
	height: 20%;
	width: 50%;
	background-color: rgba(180,100,150,0.2);
	text-align: center;
	margin-top: 10%;
	font-size: 2em;
	font-style: oblique;
}

#tableTitleDiv{
	font-size: 2em;
	text-align: center;
}
#tableButtons{
	float: right;
	margin-right: 10em;
}
#customerInfoDiv{
	font-size: 1.2em;
	font-weight: bold;
}
#customerTotalText{
	font-size: 1em;
	font-weight: bold;
}
#billTitle{
	text-align: center;
	font-size: 3em;
	font-weight: bold;
}
#billTable{
	//display:inline-block;
	clear: both;
	width:100%;
}

#rightDiv30{
	float: right;
	width: 50%;
	text-align:right ;
}
#leftDiv70{
	float: left;
	width: 50%;
}
#billTotal{
	font-size: 1em;
	font-weight: bold;
	text-align: right;
}

#reportDiv{
	width:30%;
	padding: 1.5em;
	border-radius: 0.5em;
	margin: 5% auto;
	background-color: rgba(180,100,150,0.2);
}
#reportTitle{
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

#salesDiv{
	width:80%;
	padding: 1.5em;
	border-radius: 0.5em;
	margin: 5% auto;
	background-color: rgba(180,100,150,0.2);
}

#accountEditDiv{
	width:40%;
	padding: 1.5em;
	border-radius: 0.5em;
	margin: 5% auto;
	background-color: rgba(180,100,150,0.2);
}

#returnDiv{
	width:80%;
	padding: 1.5em;
	border-radius: 0.5em;
	margin: 5% auto;
	background-color: rgba(180,100,150,0.2);
}

#returnIdDiv{
	display: none;
}

#footerDiv{
	position: fixed;
	z-index: -10;
	margin:40% 0 0 40%;
	background-color: rgba(180,180,150,0.2);
	padding: 1em;
	border-radius: 0.5em;
}
#footerSpan{
	color: red;
}

#tempBillBody{
	margin: 0 3em 5px 3em;
}